[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pandas = "*"
python-dotenv = "*"
requests = "*"
sklearn = "*"
statsmodels = "*"
matplotlib = "*"
treon = "*"
xgboost = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.7"
